<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <ul>
        <a href="/home"><li>Home-Page</li></a>
        <a href="/about"><li>About Page</li></a>
        <a href="/contact"><li>Contact Page</li></a>
    </ul>
    <p>The science of computers and information systems has always fascinated me. I've always had a keen eye for emerging technologies. My objective is to expand my knowledge of software and information technology by joining the I4gxZuri Training. As well as enhancing my skills, I am eager to explore my potential.</p>
</body>
</html>