<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <ul>
        <a href="/home"><li>Home-Page</li></a>
        <a href="/about"><li>About Page</li></a>
        <a href="/contact"><li>Contact Page</li></a>
    </ul>
    <p>Follow Me on my socials:</p>
    <a href="facebook.com/nwaoghorpraise"><i>Facebook</i></a>
    <a href="twitter.com/nwaoghorpraise"><i>Twitter</i></a>
    <a href="linkedin.com/in/nwaoghorpraisec"><i>Linkedin</i></a>
    <a href="instagram.com/praise.media"><i>Instagram</i></a>
    <a href="github.com/NwaoghorPraise2"><i>Github</i></a>
    <a href="chukunweiken@gmail.com"><i>Email</i></a>
</body>
</html>