<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <ul>
        <a href="/home"><li>Home-Page</li></a>
        <a href="/about"><li>About Page</li></a>
        <a href="/contact"><li>Contact Page</li></a>
    </ul>
    <h3>Hey, I'm Nwaoghor Praise.</h3>
    <p>Software Enigeer in Training</p>
    <p>I'm Delta State.</p>
    <p>I'm Single</p>
</body>
</html>